
  $progress-bar-background-color: #FAEBD7 !default;

    #myProgress1,#myProgress2,#myProgress3
    {
         max-width:500px;
         width:100%;
         height: 30px;
         background-color:$progress-bar-background-color;
         border: 3px solid #73AD21;
    }

   #myBar1,#myBar2,#myBar3
{
  max-width:500px;
  width: 0%;
  height: 100%;
  text-align:center;
}

#label1,#label2,#label3
{
  text-align: center;
  line-height: 30px;
  color: black;
}
